* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
--pretty-color: #2196F3;
--while-color: #FFFFFF;
}
a{
    color: inherit;
    text-decoration: none;
}
.container {
    width: 1600px;
    margin: 0 auto;
}
.span {
    color: #2196F3;
}
.logo {
    color: black;
    width: 145px;
    font-size: 26px;
    line-height: 31px;
}
.logotip {
    color: white;
    width: 145px;
    font-size: 26px;
    line-height: 31px;
}
.spis {
    color: #212121;
    width: 270px;
    font-size: 14px;
    line-height: 16px;
}
.spi {
    color: #757575;
    width: 270px;
    font-size: 14px;
    line-height: 24px;
}
.about {
    color: #212121;
    width: 264px;
    font-size: 36px;
    line-height: 42px;
}
.name {
    color: #212121;
    width: 151px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}
.job {
    color: #757575;
    width: 147px;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
}
ul{
    list-style: none;
}

.header{
background: var(--while-color) ;
}

.navList a:hover,
.addList a:hover,
.telList a:hover {
    color: var(--pretty-color);
}
.telList {
    font-style: normal;
}
.map {
    color: #FFFFFF;
    width: 231px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}
.mail {
    color: rgba(255, 255, 255, 0.6;
    width: 231px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}
.tel {
    color: rgba(255, 255, 255, 0.6;
    width: 231px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal; 
}
.efect {
    background: #2F303A ;
}
.zagolovok {
    color: #FFFFFF;
    font-size:  44px;
    font-weight: 900;
    width: 1600px;
}
.spisok {
    background: #E5E5E5;
}
.zanim {
    background: #E5E5E5;
}
.komando {
    background: #F5F4FA;
}
.footer {
    background: #2F303A;
}
