* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
--pretty-color: #2196F3;
--while-color: #FFFFFF;
--black-color: #212121;
}
.body {
    text-decoration: none;
    list-style: none;
    font-family: Roboto, Raleway;
    color: var(--black-color);
    font-weight: bold;
}
.logo {
    color: var(--black-color);
    font-size: 26px;
    font-family: Raleway;
    font-style: normal;
}
.part-logo {
    color: var(--pretty-color);
}

.container {
    width: 1600px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

.header{
background: var(--while-color) ;
}

.site-nav:hover,.site-nav:focus
.addList:hover,.addList:focus
.telList:hover,.telList:focus {
    color: var(--pretty-color);

}
